<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회사소개</title>
    <style>
                        .register{
            background-color: gray;
            margin-left: 84%;
            position: absolute;
        }
        .login{
            margin-left: 88%;
            position: absolute;

        }
    </style>
</head>
<body>
    <nav>
        <a href="/home/">홈페이지</a>
        <a href="/mysite/">상품</a>
        <a href="/register/" class="register">회원가입</a>
        <a href="/login/" class="login">로그인</a>
    </nav>
    <h1>회사소개 페이지입니다 </h1>
    
</body>
</html>