{% extends 'base.html' %}
{% block header %}
{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>상품 등록</h1>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <form method="POST" action="." enctype="multipart/form-data"> <!-- enctype 추가 -->
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.name == 'description' %}
                <textarea class="form-control" name="{{ field.name }}" id="{{ field.id_for_label }}"></textarea>
                {% else %}
               <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
                    placeholder="{{ field.label }}" name="{{ field.name }}" />
                {% endif %}
            </div>
            {% if field.errors %}
            <span style="color:red">{{ field.errors }}</span>
            {% endif %}
            {% endfor %}

            <!-- 이미지 업로드 필드 추가 -->
            <div class="form-group">
                <label for="imgfile">제품사진 : </label>
                <input type="file" class="form-control" name="imgfile" id="imgfile">
            </div>

            <button type="submit" class="btn btn-primary">상품등록</button>
        </form>
    </div>
</div>
{% endblock %}
