<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>온라인 쇼핑몰 웹 페이지 제작</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="{%static 'styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{%static 'bootstrap.min.css'%}">
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="/">Shopping mall</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <form action="{% url 'search_app:searchResult' %}" method="get">
                            {% csrf_token %}
                            <input type="text" type="search" name="q">
                            <button type="submit">검색</button>
                        </form>
                        <li class="nav-item">
                            <a href="/mysite" class="nav-link">상품</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">브랜드</a>
                        </li>
                        <li class="nav-item">

                        </li>
                        {% if user.is_authenticated and item_count  >= 0 %}
                         <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">{{ user.username }}님 (로그아웃)</a></li>
                            <li class="nav-item">
                                <a href="/cart" class="nav-link">장바구니({{item_count}})</a>
                            </li>
                         {% else %}
                         <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">로그인</a></li>

                         {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </body>
</html>
